*.suo
*.user
*.pdb
*.cache
*.vshost.exe
*.vshost.exe.manifest
*.ncrunchproject
*.ncrunchsolution
*.project.lock.json
*.tmp
_ReSharper*/
TestResults/
**/[Bb]in/**
**/[Dd]ebug/**
**/[Oo]bj/**
**/[Ll]og/**
.vs/
/packages/*
!/packages/repositories.config
YAXLibTests.VisualState.xml
TestResult.xml
/YAXLib/project.lock.json
