*.suo
*.user
*.pdb
*.cache
*.vshost.exe
*.vshost.exe.manifest
*.ncrunchproject
*.ncrunchsolution
*.project.lock.json
_ReSharper*/
TestResults/
[Bb]in/
[Dd]ebug/
[Oo]bj/
[Ll]og/
.vs/
/packages/*
!/packages/repositories.config
YAXLibTests.VisualState.xml
TestResult.xml
