*.suo
*.user
*.pdb
*.vshost.exe
*.vshost.exe.manifest
*.ncrunchproject
*.ncrunchsolution
obj/
_ReSharper*/
DemoApplication/bin/
YAXLibTests/bin/
TestResults/
Bin/*.dll
Bin/*.xml
/packages/*
!/packages/repositories.config