version: 3.0.{build}
environment:
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true 
  matrix:
  - job_name: windows
    appveyor_build_worker_image: Visual Studio 2019
  - job_name: linux
    appveyor_build_worker_image: Ubuntu
matrix:
  fast_finish: true


for:
  -
    matrix:
      only:
        - job_name: windows
    init:
      # default is: core.autocrlf input
      - git config --global core.autocrlf true
    build_script:
      - ps: dotnet restore --verbosity quiet
      - ps: |
          $version = "3.0.0-alpha.1"
          $versionFile = $version + "." + ${env:APPVEYOR_BUILD_NUMBER}

          if ($env:APPVEYOR_PULL_REQUEST_NUMBER) {
              $version = $version + "-PR" + $env:APPVEYOR_PULL_REQUEST_NUMBER
          }

          dotnet pack YAXLib --verbosity minimal --configuration release /p:IncludeSymbols=true /p:SymbolPackageFormat=snupkg /p:PackageOutputPath=../artifacts /p:ContinuousIntegrationBuild=true /p:Version=$version /p:FileVersion=$versionFile
    test_script:
      - dotnet test YAXLibTests
      - nuget.exe install OpenCover -ExcludeVersion
      - OpenCover\tools\OpenCover.Console.exe -register:appveyor -target:"C:/Program Files/dotnet/dotnet.exe" -targetargs:"test -f net5.0  -c debug YAXLibTests" -filter:"+[YAXLib]*" -excludebyattribute:*.ExcludeFromCodeCoverage* -hideskipped:All -output:coverage.xml -oldstyle
      - "SET PATH=C:\\Python34;C:\\Python34\\Scripts;%PATH%"
      - pip install codecov
      - codecov -f "coverage.xml"
      - set JAVA_HOME=C:\Program Files\Java\jdk11
      - set PATH=%JAVA_HOME%\bin;%PATH%    
      - ps: .\run-sonar.ps1
    artifacts:
      - path: 'artifacts\*.nupkg'
      - path: 'artifacts\*.snupkg'
    deploy:
    - provider: NuGet
      api_key:
        secure: l21iXr00++8acaUmTEzdn5GnOwFf5/N4/K+QNdhMHNN3VsLruodH4v5CAdON0Lf+
      on:
        branch: master
  
  -
    matrix:
      only:
        - job_name: linux
    build_script:
      - dotnet --version
      - dotnet restore YAXLib --verbosity quiet
      - dotnet build YAXLib -f netstandard2.0 
    test_script:
      - dotnet restore YAXLibTests --verbosity quiet
      - dotnet build YAXLibTests -f net5.0
      - dotnet test YAXLibTests -f net5.0
